<textarea name="message" class="compose-post js-compose-post" placeholder="Write something to <%= profile.name %>..."></textarea>
<div class="columns" style="justify-content: space-between; align-items: center;">
  <div class="letter-count js-letter-count" style="display: none">140</div>
  <input type="submit" value="Publish" style="display: none; margin: 5px 0" class="js-publish-button" />
</div>
<input type="hidden" class="js-post-mention-id" name="mentionId" value="" />
<input type="hidden" class="js-post-mention-name" name="mentionName" value="" />
<input type="hidden" class="js-post-prev" name="prev" value="" />
<input type="hidden" class="js-post-root" name="root" value="" />