<div class="columns" style="align-items: center;">
  <div><img class="profile-pic" src="<%= profileImageUrl(profile) %>" style="display:block" /></div>
  <div style="padding-left: 20px">
    <h1><%= profile.name %></h1>

    <%- escapeMarkdown(profile.description || "").substr(0, 70) %>
  </div>
</div>

<% if (posts.length > 0) { %>
  <form action="/publish" method="POST" style="padding: 0px 8px 5px 8px;">
    <textarea name="message" class="compose-post js-compose-post" placeholder="Post something on your wall..."></textarea>
    <div class="columns" style="justify-content: space-between; align-items: center;">
      <div class="letter-count js-letter-count" style="display: none">140</div>
      <input type="submit" value="Publish" style="display: none; margin: 5px 0" class="js-publish-button" />
    </div>
  </form>
  <%- include('../shared/_posts', { posts }) %>
<% } else { %>
  <div style="padding-top: 15px;">
    <div class="post">
      You have no posts yet, publish something!
    </div>
  </div>
<% } %>