<div class="overlay" style="display: none;"></div>
<div class="modal" style="display: none;">
  <div class="modal-header">Write a secret message to <%= profile.name %></div>
  <div class="modal-body">
    <textarea
      name="message"
      class="compose-post js-secret-message-input"
      style="margin: 0;"
    ></textarea>
  </div>
  <div class="modal-footer">
    the message will be encrypted for you and <%= profile.name %>
    <button class="js-modal-confirm js-secret-publish">Send</button>
    <div style="display: none;" class="js-sending-message"></div>
  </div>
</div>
