<div class="overlay" style="display: none"></div>
<div class="modal" style="display: none">
  <div class="modal-footer">
    <a href="javascript:;" class="js-modal-close" role="button">Close</a>
    <button class="modal-confirm js-secret-publish">Send</button>
    <div style="display: none" class="js-sending-message"></div>
  </div>
  <div class="modal-header">Write a secret message to <%= profile.name %></div>
  <div class="modal-body">
    <textarea name="message" class="compose-post js-secret-message-input" style="margin: 0; height: 100px"></textarea>
    <small style="margin: 6px">this message will disapear right after being read</small>
  </div>
</div>