<div class="friends-communities">
  <% if (friends.requestsReceived.length) { %>
    <h2>Friend Requests</h2>
    <div style="margin-bottom: 30px">
      <%- include('../_friends', { friends: friends.requestsReceived }) %>
    </div>
  <% } %>

  <h2>Friends</h2>
  <%- include('../_friends', { friends: friends.friends }) %>

  <h2 style="margin-top: 30px">Requests Sent</h2>
  <%- include('../_friends', { friends: friends.requestsSent }) %>
</div>