<div style="font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; font-size: 16px; padding: 30px 0; max-width: 600px; margin: 0 auto;">
  <h1 style="font-family: 'Lucida Grande', sans-serif; font-weight: bold; line-height: 1.3em; margin: 0; padding: 10px 0 0 0; font-weight: 200;">Login button</h1>
  <p>Welcome to Feedless, please use the button below to login to your account:</p>
  <a href="<%= origin %>/login?key=<%= login_key %>" style="background: #7fe7e7; color: #044; border-radius: 3px; margin-bottom: 10px; border: 1px solid #5f5f5f; cursor: pointer; text-decoration: none; display: inline-block; padding: 16px 20px; font-size: 18px; -webkit-appearance: none;">
    Login to Feedless
  </a>
  <p>Alternatively, you can copy the key to somewhere safe and delete this email:</p>
  <pre style="word-wrap: break-word; white-space: pre-wrap; background: #f5f5f5; border: 1px solid #ccc; border-radius: 3px; padding: 10px;"><%= ssb_key %></pre>
  <p>
    Never share those keys and never forward this email
  </p>
  <p>
    From your friends at Feedless 😉
  </p>
</div>