<%- include('../desktop/_header') %>

<style>
  h2 {
    padding-top: 10px;
  }
</style>
<div style="max-width: 800px; margin: 0 auto;">
  <h1>Rules and Policies</h1>

  <h2>Overview</h2>
  <p>
    Feedless is commited to be a social network with less abuse and harassment
    by design.
    <b>
      We do not tolerate abusive users or the posting of violent, hateful,
      harassment or other content that breaks our rules.
    </b>
    Abusive users will be blocked from Feedless and their content will not be
    visible by others using the Feedless app.
  </p>

  <h2>You are NOT allowed to</h2>
  <ul>
    <li>
      Promote hate, violence or self-harm
    </li>
    <li>
      Threat and harass users
    </li>
    <li>
      Share overtly sexual or violent content
    </li>
    <li>
      Violate other people's privacy
    </li>
    <li>
      Identity theft
    </li>
    <li>
      Break any
      <a
        href="https://developer.apple.com/app-store/review/guidelines/#safety"
        target="_blank"
      >
        rules of Apple environment
      </a>
      when using Feedless iOS app
    </li>
  </ul>

  <h2>Blocking and Reporting</h2>
  <p>
    You can block abusive users by going to their profile. Once you block a
    user, you stop replicating their content on the SSB network, so you are
    automatically already helping other people seeing less and less of this user
    content.
  </p>
  <p>
    Individual posts on feedless can be flagged with a short explanation by
    clicking on the small menu icon on the post. The flag messages are shared on
    the SSB network and can be acted upon by other SSB-clients as well. If you
    feel like more immeditate action from Feedless is necessary, you can
    <a href="https://github.com/rogeriochaves/feedless/issues" target="_blank"
      >file an issue on github</a
    >
    or send an email to hello@feedless.social.
  </p>

  <h2>Updates</h2>
  <p>
    This Rules are still provisional and will be updated as necessary according
    to the social network usage. Most updated version will be available on this
    very same page, and all change history will be kept on our
    <a href="https://github.com/rogeriochaves/feedless">github repository</a>.
    Suggestions on policy to improve our community are also very welcome.
  </p>
</div>

<%- include('../desktop/_footer') %>
