<%- include('../desktop/_header') %>

<div style="max-width: 800px; margin: 0 auto">
  <h1>Create account</h1>

  <form method="POST" action="/signup" enctype="multipart/form-data">
    <div style="padding-top: 30px">
      <label>
        Profile picture:
        <div class="columns" style="margin-top: 20px; align-items: center;">
          <div class="profile-pic-placeholder" style="margin-right: 15px">
            <img class="js-profile-pic-placeholder">
          </div>
          <input type="file" name="pic" class="js-profile-pic-upload" />
        </div>
      </label>
    </div>
    <div style="padding: 20px 0 30px 0">
      <label>
        Name:<br />
        <input type="text" name="name" />
      </label>
    </div>
    <% if (returnTo) { %>
      <input type="hidden" name="returnTo" value="<%= returnTo %>" />
    <% } %>
    <p>
      <input class="button-big button-blue" type="submit" value="Sign up" />
    </p>
    <% if (mode == "server") { %>
      <p>or</p>
      <p>
        <a href="/download">I don't trust this server</a>
      </p>
    <% } %>
  </form>
</div>

<%- include('../desktop/_footer') %>