<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedless</title>
    <link rel="stylesheet" href="/shared.css">
    <link rel="stylesheet" href="/desktop.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%221em%22 font-size=%2290%22>🙂</text></svg>">
  </head>
  <body <%- typeof body_class == "undefined" ? "" : `class="${body_class}"` %>>
    <header class="screen-center">
      <% if (context.profile && typeof hideHeader == "undefined") { %>
        <div class="logo">
          <a href="/">Feedless</a>
        </div>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About me</a>
          <a href="/communities">Communities</a>
          <% if (context.profile.admin) { %>
            <a href="/pubs">Pubs</a>
          <% } %>
          <% if (context.profile.debug) { %>
            <a href="/debug">Debug</a>
          <% } %>
          <a href="https://github.com/rogeriochaves/feedless/issues" target="_blank">Feedback</a>
          <a href="/logout">
            Logout
          </a>
        </nav>
        <div class="right-items"></div>
          <% if (context.syncing) { %>
            <div class="columns js-syncing" style="align-items: center; padding-right: 30px;">
              <img src="/images/syncing.gif" width="24" style="margin-right: 10px; margin-top: -5px">
              <span>syncing</span>
            </div>
          <% } %>
          <form action="/search" method="GET" style="margin-right: 10px">
            <div class="search-icon">🔎</div>
            <input type="search" class="input-search" name="query" placeholder="Search">
          </form>
        </div>
      <% } %>
    </header>
    <main class="<%= typeof main_class == "undefined" ? "screen-center white-page" : main_class %>">
