* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  margin: 0;
  line-height: 1.3em;
  word-wrap: break-word;
  font-size: 16px;
}
button,
a.button,
input.button {
  font-size: 14px;
  background: #ddd;
  color: #5f5f5f;
  border-radius: 3px;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
button:hover,
a.button:hover,
input.button {
  background: #959eab;
  color: #fff;
}
button.button-big,
a.button.button-big,
input.button.button-big {
  padding: 16px 20px;
  font-size: 18px;
}
button.button-primary,
a.button.button-primary,
input.button.button-primary {
  background: #08d;
  color: #fff;
}
button.button-primary:hover,
a.button.button-primary:hover,
input.button.button-primary:hover {
  background: #06b;
  color: #fff;
}

input:not([type="submit"]),
textarea {
  line-height: 32px;
  padding: 0 6px;
  width: 100%;
  font-size: 15px;
  margin-top: 8px;
}

header {
  padding: 0 30px;
  border-bottom: 1px solid #666;
  background: linear-gradient(180deg, #000 0%, #2a2a2a 5%, #222 95%, #000 100%);
  color: #fff;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
}
header a {
  display: block;
  line-height: 60px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}
header a:hover {
  background: #000;
}
header .logo a:hover {
  background: none;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 20px;
}
.right-items {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.input-search {
  color: #fff;
  background: #444;
  border-radius: 20px;
  padding: 5px 5px 5px 27px;
  border: 1px solid #666;
  width: 150px;
}
.search-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 7px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.columns {
  display: flex;
  align-content: stretch;
}

h1 {
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  padding: 10px 0 0 0;
  font-weight: 200;
}

h2 {
  font-weight: 200;
}

.wall {
  padding: 0 20px;
  flex-grow: 1;
}

.post {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.post-profile-pic {
  width: 64px;
  max-height: 200px;
}

.post-content {
  padding-left: 10px;
}

.content-header {
  font-weight: bold;
  padding-bottom: 5px;
}

.content-body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}

.about {
  max-width: 300px;
}

.profile-pic {
  width: 300px;
}

button.vanishing-message {
  background: none;
  width: 84px;
  text-align: center;
  border: 1px solid #333;
  padding: 10px;
  cursor: pointer;
  color: #000;
  margin-right: 8px;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.modal-header {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.modal-body {
  padding: 10px;
}

.modal-footer {
  padding: 10px;
  background: #fffbf4;
  border-top: 1px solid #ddd;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entrance {
  background: url("/images/bg.jpg") center center #000;
  background-size: cover;
}

.entrance main {
  margin: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  min-height: 100vh;
  max-width: none;
}

.entrance-content {
  color: #fff;
  margin: 0 auto;
  max-width: 800px;
}

.entrance h1 {
  font-size: 60px;
}

.profile-pic-placeholder {
  min-width: 100px;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background: #ddd;
}

.profile-pic-placeholder img {
  max-width: 100%;
  display: block;
}
