<% friends.map(friend => { %>
  <a class="link-block" href="<%= profileUrl(friend.id) %>">
    <img style="width: 32px; max-height: 100px; margin-right: 5px;" src="<%= profileImageUrl(friend) %>" />
    <div><%= friend.name %></div>
  </a>
<% }) %>