<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <% if (context.profile.name) { %>
      <header>
        <div class="logo">
          Social
        </div>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About me</a>
          <a href="/pubs">Pubs</a>
          <a href="/debug">Debug</a>
        </nav>
        <div class="right-items">
          <a href="/" style="margin-right: 10px">
            <%= context.profile.name %> (<%= context.profile.id.slice(0, 8) %>)
          </a>
          <form action="/search" method="GET">
            <div class="search-icon">🔎</div>
            <input type="search" class="input-search" name="query" placeholder="Search for people...">
          </form>
        </div>
      </header>
    <% } %>
    <main>
