<%- include('_header') %>

<div style="max-width: 800px; margin: 0 auto">
  <h1 style="padding-top: 50px">Download the app</h1>

  <p style="padding: 20px 0">
    If you don't trust this server to hold your credentials, download the app version,
    it keeps all the data local, which means your credentials never leave your computer,
    plus you can use Social offline
  </p>
  <p>
    <a class="button" href="https://github.com/rogeriochaves/social/releases" style="padding: 12px 15px;">Go to downloads page</a>
  </p>
</div>

<%- include('_footer') %>