<div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; line-height: 1.3em; font-size: 16px; padding: 30px 0">
  <h1 style="font-weight: bold; line-height: 1.3em; margin: 0; padding: 10px 0 0 0; font-weight: 200;">Login button</h1>
  <p>Welcome to Social, please use the button below to login to your account:</p>
  <form action="<%= host %>/login" method="POST" style="padding: 20px 0">
    <input type="hidden" name="ssb_key" value="<%= ssb_key %>" />
    <input type="submit" value="Login to Social" style="background: #08d; color: #fff; border-radius: 3px; padding: 8px 10px; border: none; cursor: pointer; text-decoration: none; display: inline-block; padding: 16px 20px; font-size: 18px;">
  </form>
  <p>
    Never delete or forward this email, it is they key to accessing your account
  </p>
  <p>
    From your friends at Social 😉
  </p>
</div>