<h1>Welcome to Social</h1>

<h2>Login</h2>

<form method="POST" action="/login">
  <textarea name="ssb_key" id="" cols="30" rows="10"></textarea>
  <input type="submit" value="Login">
</form>

<h2>Create account</h2>