<%- include('_header', { body_class: "entrance", main_class: "" }) %>

<div style="background: #8debf5; padding: 50px">
  <div class="screen-center">
    <h1 style="font-size: 60px; font-family: 'Lucida Grande', sans-serif">Welcome to Social</h1>
    <h2 style="padding: 20px 0">The non-addictive social network</h2>

    <div style="padding-top: 20px">
      <a href="/signup" class="button button-big button-blue">Create account</a>
      <a href="/login" class="button button-big" style="margin-left: 10px">Login</a>
    </div>
  </div>
</div>

<div style="background: #fbb; padding: 50px 0; color: #600">
  <div class="screen-center">
    <p>
      Social combines the best original ideas of popular social networks without the bad parts
    </p>

    <ul>
      <li>There is no feed to scroll forever, no cassino slot machine addiction</li>
      <li>There are no likes nor any mindless interactions, if you like something, you tell the person, like a human</li>
      <li>You have your own wall, but you can only post with 140 characters, like original Twitter</li>
      <li>If you want to check on others you have to go to their profile, like original Facebook or Orkut</li>
      <li>You can send secret messages, like original Snapchat, but there are no stories</li>
    </ul>

    <p>
      Because Social is not a business, we don't need to make people
      addicted just to sell more ads and please shareholders. Social is built on top of
      <a href="https://scuttlebutt.nz/" target="_blank" style="color: #600">SSB</a>,
      a decentralized social network protocol, which means the community sustains it, not a corporation.
    </p>
  </div>
</div>

<%- include('_footer') %>