<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social</title>
  </head>
  <body>
    <form action="publish" method="POST">
      <textarea name="message"></textarea>
      <input type="submit" value="Send" />
    </form>
    <p>
      Whoami: <%= profile.id %>
    </p>
    <% posts.map(post => { %>
    <div><%= post.text %></div>
    <% }) %>
  </body>
</html>
