<%- include('_header', { hideHeader: true }) %>

<div style="max-width: 800px; margin: 0 auto">
  <h1 style="padding-top: 50px">Email Sent</h1>

  <p style="padding: 20px 0">Now open it to be sure you received, hit back if you didn't to try again.</p>

  <a href="/">Continue to profile</a>
</div>

<%- include('_footer') %>