<%- include('_header') %>

<div style="max-width: 800px; margin: 0 auto">
  <h1 style="padding-top: 50px">Login</h1>

  <form method="POST" action="/login" enctype="multipart/form-data">
    <div style="padding: 20px 0 10px 0">
      <label>
        Select your key: <br />
        <input type="file" name="ssb_key" />
      </label>
    </div>
    <div style="padding: 20px 0 30px 0">
      Or paste it here: <br />
      <textarea name="ssb_key" style="max-width: 300px"></textarea>
    </div>
    <p>
      <input class="button-big" type="submit" value="Login" />
    </p>
    <% if (mode == "server") { %>
      <p>or</p>
      <p>
        <a href="/download">I don't trust this server</a>
      </p>
    <% } %>
  </form>
</div>

<%- include('_footer') %>