<%- include('_header') %>

<h1>Login</h1>

<form method="POST" action="/login">
  <textarea name="ssb_key" id="" cols="30" rows="10"></textarea>
  <input type="submit" value="Login">
</form>

<%- include('_footer') %>