<% friends.map(friend => { %>
  <a class="link-block" href="<%= profileUrl(friend.id) %>">
    <img class="link-profile-pic" src="<%= profileImageUrl(friend) %>" />
    <div><%= friend.name %></div>
  </a>
<% }) %>